<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Usage</h1>
  <h3>Search</h3>
  <code>
    <%= siteUrl %>/search?q={{ SEARCH_QUERY }}&offset={{ SEARCH_OFFSET }}
  </code>
  <br />
  <h3>Get recent searches</h3>
  <code>
    <%= siteUrl %>/results
  </code>
  <code>
</body>
</html>
